.wrapper {
  min-height: 100vh;
  background: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 30px;

  display: grid;
  place-items: center;

  & > * {
    padding: 30px;
    border-radius: 10px;

    display: grid;
    place-items: center;
  }

  .wrapper__loader {
    background: #202020;
    border: 2px solid #333333;

    svg {
      animation: loader 750ms infinite linear;
    }
  }

  .wrapper__error {
    background: transparentize(#f56476, 0.75);
    border: 2px solid #f56476;
    gap: 10px;
  }

  .wrapper__data {
    place-items: start;

    max-width: 1268px;
    width: 100%;
    background: #202020;
    border: 2px solid #333333;

    strong {
      color: #1cfeba;
    }
  }

  .wrapper__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .form__row {
      display: flex;
      flex-direction: column;

      label {
        color: #bbbbbb;
        font-size: 24px;
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        border: 2px solid #333333;
        border-radius: 5px;
        background: transparent;
        color: white;
        outline: none;
      }

      small {
        transform: translateY(5px);
        font-size: 14px;
        color: #f56476;
        height: 0;
      }
    }

    button {
      margin-top: 30px;
      width: 100%;
      padding: 10px;
      border: 2px solid #333333;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background: #1cfeba;
      transition: background 250ms ease;

      &[data-loading="true"] {
        background: #333333;
        cursor: initial;

        svg {
          animation: loader 750ms infinite linear;
        }
      }

      &:hover:not([data-loading="true"]) {
        background: lighten(#1cfeba, 15);
      }
    }
  }
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
